@page "/editcustomer/{CurrentID}"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@inject ICustomerService objCustomerService
@inject NavigationManager NavigationManager

<h2>Update Customer</h2>
<hr/>

<EditForm Model="@objCustomer" OnValidSubmit="@UpdateCustomer" >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Id" class="control-label">Customer Id:</label>
        <label>@objCustomer.Id</label>
    </div>

    <div class="form-group">
        <label>Company Name</label>  
        <ValidationMessage For="@(() => objCustomer.CompanyName)"/>
        <InputText class="form-control" @bind-Value="objCustomer.CompanyName" />
    </div>

    <div class="form-group">
        <label>Contact Name</label>   
        <ValidationMessage For="@(() => objCustomer.ContactName)"/>
        <InputText class="form-control" @bind-Value="objCustomer.ContactName" />
    </div>

    <div class="form-group">
        <label>Address</label>  
        <ValidationMessage For="@(() => objCustomer.Address)"/>
        <InputText class="form-control" @bind-Value="objCustomer.Address" />
    </div>

    <div class="form-group">
        <label>City</label>  
        <ValidationMessage For="@(() => objCustomer.City)"/>
        <InputText class="form-control" @bind-Value="objCustomer.City" />
    </div>

    <div class="form-group">
        <label>Region</label>    
        <ValidationMessage For="@(() => objCustomer.Region)"/>
        <InputText class="form-control" @bind-Value="objCustomer.Region" />
    </div>

    <div class="form-group">
        <label>PostalCode</label>   
        <ValidationMessage For="@(() => objCustomer.PostalCode)"/>
        <InputText class="form-control" @bind-Value="objCustomer.PostalCode" />
    </div>

    <div class="form-group">
        <label>Country</label>  
        <ValidationMessage For="@(() => objCustomer.Country)"/>
        <InputText class="form-control" @bind-Value="objCustomer.Country" />
    </div>

    <div class="form-group">
        <label>Phone</label>   
        <ValidationMessage For="@(() => objCustomer.Phone)"/>
        <InputText class="form-control" @bind-Value="objCustomer.Phone" />
    </div>

    <div class="form-group">        
        <button type="submit" class="btn btn-primary">Update</button>     
        <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel"/>
    </div>
</EditForm>


@code {
    [Parameter]
    public string CurrentID { get; set; }

        Customer objCustomer = new Customer();       

    protected override async Task OnInitializedAsync()
    {
        objCustomer = await Task.Run(() => objCustomerService.GetCustomerById(Int32.Parse(CurrentID)));
    }

    protected async void UpdateCustomer()
    {
        await objCustomerService.UpdateCustomer(objCustomer);
        NavigationManager.NavigateTo("Customers");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Customers");
    }
}
